[user]
email = chrahunt@gmail.com
name = Chris Hunt
signingkey = 26B8B8717ADE5C75

[core]
excludesfile = ~/.gitignore_global

[alias]
c = commit
co = checkout
s = status
d = diff
rc = "rebase --continue"
fix = "commit --amend --no-edit"
fixa = "commit -a --amend --no-edit"
stash-diff = "!f() { git diff \"stash@{$1}^\" \"stash@{$1}\"; }; f"
unstage = "reset HEAD --"
pr = "!f() { git fetch upstream pull/$1/head:pr-$1; }; f"
exclude = "!f() { printf \"%s\\n\" \"$@\" >> \"$(git rev-parse --git-common-dir)/info/exclude\"; }; f"

[color]
ui = auto

[merge]
tool = kdiff3
tool = kdiff3

[diff]
guitool = kdiff3
guitool = kdiff3
tool = bc3

[diff "org"]
# Use header name for diff hunk headers
xfuncname = "^\\*+ (.*)$"

[diff "lisp"]
xfuncname = "^(\\(.*)$"

[mergetool "kdiff3"]
#path = C:/Program Files/KDiff3/kdiff3.exe
trustExitCode = false

[difftool "kdiff3"]
#path = C:/Program Files/KDiff3/kdiff3.exe
trustExitCode = false

[url "git://anongit.kde.org/"]
insteadOf = kde:
[url "ssh://git@git.kde.org/"]
pushInsteadOf = kde:
[url "git@git.kde.org:"]
pushInsteadOf = kde:
[url "ssh://git@heroku.com/"]
insteadOf = https://git.heroku.com/
[cinnabar]
helper = /home/chris/.mozbuild/git-cinnabar/git-cinnabar-helper
[push]
default = current
[pull]
ff = only
