# vi mode
set editing-mode vi
set completion-ignore-case on
set menu-complete-display-prefix on
set keyseq-timeout 0
set show-mode-in-prompt on

# Apply to all modes/keymaps
"\C-Rr": re-read-init-file

set keymap emacs
"\C-Rv": vi-editing-mode
"\C-Rm": vi-movement-mode

$if gdb
$if mode=vi
# fix gdb TUI-mode keybindings in vi mode
set keymap vi
"\ee": emacs-editing-mode
"\C-xa": tui-switch-mode
# there's no registered function for switching screens so we
# switch to emacs mode and execute it there.
"\C-xo": "\ee\C-xo\C-Rml"

set keymap vi-insert
"\ee" emacs-editing-mode
"\C-xa": tui-switch-mode
"\C-xo": "\ee\C-xo\C-Rv"
$endif
$endif
